name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [12.x, 13.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: yarn install --frozen-lockfile

    - run: yarn run build


  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 13.x]
        mongodb-version: ['4.0', '4.2']

    env:
      NODE: ${{ matrix.node-version }}
      MONGO: ${{ matrix.mongodb-version }}

    services:
      mongodb:
        image: mongo:${{ matrix.mongodb-version }}
        ports:
        - 27017:27017

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: yarn install --frozen-lockfile

    - run: yarn test --coverage
      env:
        CI: true
        MONGO_DB_NAME: mongodb-queue

    - name: Code Coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        env_vars: NODE,MONGO
        fail_ci_if_error: true
